<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=665, initial-scale=1">

    <title>Angular masker demo</title>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="../dist/angular-masker.js"></script>
    <script>
        angular.module('demo', ['ngMessages', 'masker'])
        .config(function (MaskerProvider) {
                angular.extend(MaskerProvider.patterns, {
                    "N": /[A-za-zА-Яа-я]{1,20}/ 
                });
        })
        .controller('demoController', function($scope) {
            $scope.models = {
                phone: "+7",
                fullName: undefined,
                floatValue: undefined
            };
        });
    </script>

    </head>
    <body ng-app="demo">
        <ng-controller ng-controller="demoController">
            <form name="form">
                <fieldset>
                    <label for="phone">Phone number</label>
                    <input type="text" name="phone" ng-model="models.phone" ng-required="true" ng-model-options="{updateOn: 'change'}" masker="+7 (999) 999-9999" placeholder="+7">
                </fieldset>
                <fieldset>
                    <label for="fullName">Full name</label>
                    <input type="text" name="fullName" ng-model="models.fullName" ng-required="true" masker="N N">
                </fieldset>
            <ng-repeat ng-repeat="(name, v) in models">
            <p ng-messages="form[name].$error" style="color:maroon" role="alert">
                <span ng-message="required"><ng-bind ng-bind="name"></ng-bind> is required</span>
                <span ng-message="masker">Invalid <ng-bind ng-bind="name"></ng-bind></span>
            </p>
            </ng-repeat>
            </form>
            {{ models.phone }}
        </ng-controller>
    </body>
</html>
