<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=665, initial-scale=1">

    <title>Angular masker demo</title>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="../dist/angular-masker.js"></script>
    <script>
        angular.module('demo', ['ngMessages', 'masker']).controller('demoController', function($scope) {
            $scope.models = {
                phone: undefined,
                fullName: undefined,
                floatValue: undefined
            };
        });
    </script>

    </head>
    <body ng-app="demo">
        <ng-controller ng-controller="demoController">
            <form name="form">
                <fieldset>
                    <label for="phone">Phone number</label>
                    <input type="text" name="phone" ng-model="models.phone" masker="'+9 (999) 999-9999'">
                </fieldset>
                <fieldset>
                    <label for="fullName">Full name</label>
                    <input type="text" name="fullName" ng-model="models.fullName" masker="['AAAAAAAAAA', 'AAAAAAAAAAA']"  masker-separator="space">
                </fieldset>
                <fieldset>
                    <label for="floatValue">Float value</label>
                    <input type="text" name="floatValue" ng-model="models.floatValue" masker="['9999', '99']"  masker-separator=",">
                </fieldset>
            </form>
            <ng-repeat ng-repeat="(name, v) in models">
            <p ng-messages="form[name].$error" style="color:maroon" role="alert">
                <span ng-message="mask"><ng-bind ng-bind="name"></ng-bind> input mask error</span>
            </p>
        </ng-controller>
    </body>
</html>
